.today-todolist__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-weather__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23rem;
  height: 16rem;
  background-color: #FEFCF3;
  border-radius: 15px;
}